/* Contact Button */
#contactButton {
    position: fixed;
    top: 30%;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    color: #ffffff;
    background-color: #4000e9;
    border: 0.3px solid #4000e9;
    border-radius: 6px 6px 0 0;
    height: 28px;
    width: 160px;
    z-index: 1000;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}
  
  /* Collapse Card */
  #collapseCard {
    position: fixed;
    top: 35%;
    right: 0;
  }
  
  /* Center Align Button */
  .btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }